<header>
  <a href="/" class="header__logo">MFM Adder</a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/logout" class="">LogOut</a>
      </li>
      <!-- <li>
        <a href="/adder/dashboard" class="">Add/Delete Movies</a>
      </li> -->
    </ul>
  </nav>
</header>
