<header>
  <a href="/" class="header__logo">Movie Adder Panel</a>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/" class="">Home</a>
      </li>
      <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/add/dashboard" class="">Add/Delete Movies</a>
      </li>
    </ul>
  </nav>
</header>
