<h1>What is MFM Database?</h1>
<h3>My Favorite Movies</h3>
<br />
<p>
  This is a movie database where I have some of my favorite movies. I also have
  it open so anyone can upload their own favorite movies. you can also explore
  the list of other movies that have been uploaded. There is a search button
  near the top that will allow you to search by titles. Make sure the movie you
  want to add isn't already there before you click on the add link. This will
  take you to a log in page, don't worry its free to sign up if you aren't
  already. you will then have acces to add, edit, or delete movies from our
  database. Enjoy and happy movieing.
</p>
