<h1>What is this site?</h1>
<br />
<p>
  This is a movie database where you can upload your own movies and explore from
  a list of other movies that have been uploaded. There is a search button near
  the top that will allow you to search by titles. Make sure the movie you want
  to add isn't already there before you click on the add link. This will take
  you to a log in page, don't worry its free to sign up if you aren't already.
  you will then have acces to add, edit, or delete movies from our database.
  Enjoy and happy movieing.
</p>
