<div class="author">
  <h1 class="Main heading">I love movies!</h1>
  <p class="author__body">How about you?</p>
</div>

<img
  src="https://payload.cargocollective.com/1/11/367710/13568488/MOVIECLASSICSerikweb_2500_1340_c.jpg"
  alt="Movies Collage"
/>

<section class="movies">
  <h2 class="movies__heading">Latest Movies</h2>
  <!-- Dummy data displayed until we include Movies later on. -->
  <ul class="movies-ul">
    <% data.forEach(movies => { %>
    <li>
      <a href="/movies/<%= movies._id %>">
        <span><%- movies.title %></span>
        <span class="movie-list__date">
          <% movies.createdAt.toDateString() %>
        </span>
      </a>
    </li>
    <%}) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Movies</a>
  <% } %>
  <!-- if prevPage is 1 then go to / -->
  <% if (prevPage >= 1) { %> <% if (prevPage === 1) { %>
  <a href="/" class="pagination newer">View Newer Movies &gt;</a>
  <% } else { %>
  <a href="/?page=<%= prevPage %>" class="pagination newer"
    >View Newer Movies &gt;</a
  >
  <% } %> <% } %>

  <!-- <a href="#" class="pagination"> &lt; View Older Movies </a> -->
</section>
