<h1><%= data.title %></h1>
<img src="<%= data.posterUrl %>" alt="Movie Poster" class="mPoster" />
<br />
<!-- <aticle
  class="mDescrip"
  style="background-color: #002966; border-color: #002966"
  ><%- data.description %></aticle
> -->
<p class="mDescrip"><%- data.description %></p>
