<a href="/adder/dashboard">&larr; Back</a>
<div class="add-title">
  <h2>Add New Movie</h2>
</div>

<form action="/add-movies/" method="POST">
  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="movie title" name="title" />

  <label for="description"><b>Description</b></label>
  <textarea
    name="description"
    cols="50"
    rows="10"
    placeholder="What is the movie about?"
  ></textarea>

  <label for="posterUrl"><b>Movie Poster URL</b></label>
  <input type="text" placeholder="Insert URL" name="posterUrl" />

  <input type="submit" value="Add" class="btn" />
</form>
