<div class="admin-title">
<h2>Movies</h2>
<a href="/add-movies" class="addNew"> + Add New Movie</a>
  </div>
  
  <ul class="admin-movies"></ul>
  <% data.forEach(movie => { %>
      
      <li class="items">
          <a href="/movies/<%= movie._id %>"> <%= movie.title %> &nearr;</a>
          <div class="adder-movie-controls">
              <a href="/edit-movies/<%= movie._id %>" class="btn">Edit</a>
  
              <form action="/delete-movies/<%= movie._id %>?_method=DELETE" method="post">
                  <input type="submit" value="Delete" class="btn" />
              </form>
          </div>
      </li>
      <% }); %>
      </ul>
